<script>
	var id = `{{link.id}}`;
	
</script>


{{!-- <style>
   body{
        background: #fffbfb;
    }

   a img {
        width: 90px;
        height: 80px;
    }
   
   img{
      width: 481px;
      height: 294px;
      
   }

</style> --}}
<link rel="stylesheet" href="/bootstrap-4.3.1/css/bootstrap.css">
<link rel="stylesheet" href="/css/bootstrap.css">
<link rel="stylesheet" href="/css/estilo.css">
<link rel="stylesheet" href="/icono/style.css">
<script src="/js/validar_imagen.js"></script>

<link rel="stylesheet" href="/css/estilo.css" />

<div class="container p-4">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-sx-6 col-lg-7 mx-auto">
            <div class="card">
            
                <div class="card-header">
                {{!-- <div class="col-lg-4">
                     <a href="/img/facebook.png"><img height="75" width="100" src="/img/logo.jpg"  ></a>
                </div> 
          --}}
                 <div class="col-md-12 col-lg-12">
                    <a><img height="75" width="100" src="/img/logo.png"> EDITAR PRODUCTO</a> 
                </div> 
                {{!-- <div class="col-md-12 col-lg-12">
                     <h2>EDITAR PRODUCTO</h2>
                </div> 
                 --}}
            </div>
            {{!-- <div class="card"> --}}
                <div class="card-body">
                    <form action="/administrador/edit/{{link.id}}" enctype="multipart/form-data" method="POST" onsubmit="return validar_imagen('{{link.id}}','{{link.nombre}}','{{link.precio}}');">
                        <div class="row">

                             <div class="col-md-8">
                                <h2>Nombre<span style="color:red">*</span></h2>
                                <div class="inputWithIcon jorge">
                                <input type="text" id="nombre" name="nombre" placeholder="Nombre del producto" class="form-control" value="{{link.nombre}}" required autofocus>
                                <i class="icon-pencil" aria-hidden="true"></i>
                                </div>
                            </div>
                        
                            <div class="col-md-4">
                                <h2>Precio<span style="color:red">*</span></h2>
                                <div class="inputWithIcon jorge">
                                <input type="text" id="precio" name="precio" placeholder="RD$0.00" class="form-control" value="{{link.precio}}" required >
                                <i class="icon-attach_money" aria-hidden="true"></i>
                                </div>
                            </div>


                            <div class="col-md-12">
                                    <h2>Imagen</h2>
                                <table>
                                    <tr><td><div id="imagenPreview" class="imagen" style="width:513px; height:300px; border:dashed blue" > </div></td></tr>
                                    
                                    
                                   {{!-- <div id="imagenPreview" style="width:250px; height:300px; border:dashed blueviolet" >

                                   </div> --}}

                                </table>  
                                <br> 
                                    {{!-- <input type="file" name="imagen" id="imagen" class="form-control" required> --}}
                                    <div class="col-md-12">
                                        {{!-- <h2>Precio<span style="color:red">*</span></h2> --}}
                                        <div class="inputWithIcon jorge6">
                                        <input type="file" id="imagen" name="imagen" class="form-control">
                                        <i class="icon-camera" aria-hidden="true"></i>
                                        </div>
                                    </div>

                    
                                    {{!-- <a href="imagen1/{{imagen}}"><img height="235" width="230" src="/imagen1/{{imagen}}"></a> --}}
                                   
                            </div>

                           
                        </div>

                        <br>
                       
                        <div class="row">
                             <div class="col-lg-6">
                               <a class="btn btn-danger btn-block" href="/administrador">Atras</a>
                            </div>

                            <div class="col-lg-6" id="cambiar">
                                <button class="btn btn-warning btn-block" onmousemove="cambiar()" onclick="validar_imagen()()" >Save</button>
                            </div>
                        </div>


                    </form>

                     {{!-- <div id="imagenPreview">

                     </div> --}}


                </div>
            </div>
        </div>

    </div>
</div>



<script type="text/javascript">
$('#imagenPreview').html("<img src='/imagen1/{{link.imagen}}' class='imagen'/>");
   (function(){
       function filePreview(input){
           if(input.files && input.files[0]){
               var reader = new FileReader();

               reader.onload = function(e){
                   $('#imagenPreview').html("<img src='"+e.target.result+"' class='imagen'/>");
               }

               reader.readAsDataURL(input.files[0]);
           }
       }
       $('#imagen').change(function(){
          filePreview(this);
       });
   }) ();

</script>
