<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/estilo.css" />
{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> --}}
{{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script> --}}
<style>
    img{
    cursor: pointer;
    }
</style>

<script>
   const productos = []
   var n=0;

   const eliminado = []
   var e=0;
   
   	$(document).ready( function () {
        $('.DataTables').DataTable({
            language: {
                "sProcessing":     "Procesando...",
                            "sLengthMenu":     "Mostrar _MENU_ registros",
                            "sZeroRecords":    "No se encontraron resultados",
                            "sEmptyTable":     "Ningún dato disponible en esta tabla =(",
                            "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                            "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                            "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                            "sInfoPostFix":    "",
                            "sSearch":         "Buscar:",
                            "sUrl":            "",
                            "sInfoThousands":  ",",
                            "sLoadingRecords": "Cargando...",
                            "oPaginate": {
                                "sFirst":    "Primero",
                                "sLast":     "Último",
                                "sNext":     "Siguiente",
                                "sPrevious": "Anterior"
                            },
                            "oAria": {
                                "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                            },
                            "buttons": {
                                "copy": "Copiar",
                                "colvis": "Visibilidad"
                            }
            }
        });
    } );
</script>



<div  class="container mt-5" class="card-header" style=" background-color: white" >
    <ol class="breadcrumb">
        <li><a href="/administrador">Inicio</a></li>
        <li><a class="active">Registrar Administrador</a></li>
    </ol>
     {{!-- <button id="generatereport">Download Report</button>  --}}
     <div>
        <a href="#openModal" onclick="productos_eliminado()"><img src="/img/trash.png" width="30" height="30"> </a>
     </div>


     <div >
      <table id="lppresults" class="table display DataTables" class="table table-bordered order-table" class="card-header" style="color: white">
         
          <thead style="background-color:#1E1F29" align="center">
            <tr>
              {{!-- <img src="/js/Datatables/images/sort_both.png" /> --}}
              <th>ID</th>  
              <th>Nombre</th>
              <th>Precio</th>
              <th>Imagen</th>
              <th>Opciones</th>
            </tr>
          </thead>

          <tbody id="resultado" style="color:black" align="center" class="card-header">

          </tbody>
      

      </table>
    </div>

  
    {{#each lista}}
      <h3 class="card-title text-uppercase">
         <script>
           
           productos[n] = { id: `{{id}}`, nombre: `{{nombre}}`, precio:`{{precio}}`, imagen:`{{imagen}}`};
           n +=1;

           
         </script>
      </h3>
      
     {{/each}}

     {{#each eliminado}}
      <h3 class="card-title text-uppercase">
         <script>
           
           eliminado[e] = { id: `{{id}}`, nombre: `{{nombre}}`, precio:`{{precio}}`, imagen:`{{imagen}}`, modelo:`{{modelo}}`, cantidad:`{{cantidad}}`};
           e +=1;

           
         </script>
      </h3>
      
     {{/each}}
</div>


<script>
 
   const resultado = document.querySelector('#resultado');
     
    for(let producto of productos){
    
    
        resultado.innerHTML += `
          <td>${producto.id}</td> <td>${producto.nombre}</td> <td>${producto.precio}</td> 
          <td> <a onclick="imagenes('${producto.imagen}')"><img height="50" width="50" src="/imagen1/${producto.imagen}"></a></td>
          <td> 
                <a class="btn btn-warning mx-1" href="/administrador/edit/${producto.id}">
                <img height="30" width="25" src="/img/editar2.png"></a>

                <a class="btn btn-danger" onclick="confirmar(${producto.id})""> 
                <img height="30" width="25" src="/img/borrar.png"></a> 
          </td>
        `

      
    }
    
</script>
{{!-- 
<script>
var doc = new jsPDF();
$('#generatereport').click(function() {
   doc.fromHTML($('#lppresults')[0], 15, 15, {
      width: 170
   }, function() {
      doc.save('sample-file.pdf');
   });
});
</script> --}}
<link rel="stylesheet" href="/css/ventana_lista.css" />

<div id="openModal" class="modalDialog">
	<div id="tamaño">
		<a href="#close" title="Close" class="close">X</a>
	

	<div id="vent">
		    
	</div>

	</div>
</div>

<script src="/js/productos_eliminado.js"></script>

