   <link rel="stylesheet" href="css/bootstrap.css">
		
	<!-- CSS Files -->	
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/animate.min.css" />
	<link rel="stylesheet" href="css/grid.css" />
	<link rel="stylesheet" href="css/base.css" />
	<link rel="stylesheet" href="css/layout.css" />
	<link rel="stylesheet" href="css/flexslider.css" />
	<link rel="stylesheet" href="css/font-awesome.css" />
	<link rel="stylesheet" href="css/prettyPhoto.css" />
	<link rel="stylesheet" href="css/player/YTPlayer.css" />
	<link rel="stylesheet" href="css/media-queries.css" />
	

	<!-- Color Options -->
	<link id="color-options" rel="stylesheet" href="css/colors/green.css" />

	<!-- Theme Options -->
	<link id="theme-options" rel="stylesheet" href="css/theme/dark.css" />

	<link rel="stylesheet" href="css/ventana.css" />


<!-- Page Loader -->
	<section id="preloader">
		<div class="loader fa fa-spin"></div>
	</section>

	<!-- Navigation -->
	<section id="navigation" class="hide-nav">
		<!-- Navigation Container -->
		<div class="nav-container">

			<!-- Site Logo -->
			<div id="perfil_unico">
				<a class="site-logo scroll" onclick="abrir_informacion('{{user.telefono}}','{{user.correo}}','{{user.imagen}}')">
					{{user.nombre}} {{user.apellido}}
				</a>
		    </div>

			<a class="mobile-nav-button"><i class="fa fa-bars"></i></a>

			<!-- Navigation Menu -->
			<div class="nav-menu">
				<ul class="nav">
					<li><a href="#home" class="scroll link">Pagina principal</a></li>
					
					<li><a href="#services" class="scroll link">Servicios</a></li>
					<li><a href="#portfolio" class="scroll link">Productos</a></li>
					
					<li>
						{{!-- <a href="#blog" class="scroll link">Blog <i class="fa fa-chevron-down"></i></a> --}}
						<a href="#blog" id="link01" class="scroll link"><img src='/imagen1/{{user.imagen}}' class='imgRedonda2'/></a>
						<ul id="admin">
							<li class="cursor"><a  onclick="abrir_imagen('{{user.imagen}}')">Editar imagen</a></li>
							<li class="cursor"><a  onclick="abrir_informacion('{{user.telefono}}','{{user.correo}}','{{user.imagen}}')">Editar informacion</a></li>
							<li class="cursor"><a onclick="abrir_contrasena('{{user.imagen}}')">Cambiar Contraseña</a></li>
							<li class="cursor"><a onclick="tabla_favorito()">Lista de favorito</a></li>
							<li><a href="/cliente_logout">Cerrar Sesion</a></li>
						</ul>
					</li><!-- end drop down -->
					
				</ul>
			</div><!-- end nav menu -->
		</div><!-- end nav container -->
	</section><!-- end navigation section -->



	<!-- Home Section -->
	<section id="home" class="home parallax6"> 
		<div id="slides" class="container header">
			<!-- Site Logo -->
			<span class="logo animated" data-animate="fadeInDown" data-animate-delay="300">AA motors</span>
			<!-- Text Slider -->
			<div class="header-text">
				<ul class="text-slider">
					<li class="text-slides">CREEMOS EN EL <span class="color normal">BUEN DISEÑO</span></li>
					<li class="text-slides">SOMOS <span class="color normal">BUENOS DISEÑADORES</span></li>
					<li class="text-slides">HACEMOS <span class="color normal">DISEÑOS INCREÍBLES</span></li>
				</ul>
			</div><!-- end text slider -->
			<!-- Social Media Links -->
			<div class="social-media">
				<h4>DIFUNDIR LA PALABRA</h4>
				<ul class="social-links">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul>
			</div><!-- end social media links -->
			<a href="#about" class="header-down-arrow scroll link"></a>
		</div><!-- end header container -->
	</section><!-- end home section -->



	<!-- About Section -->
	<section id="about" class="section">
		</div>
		</div><!-- end container -->
	</section><!-- end about section -->

	
	
	<!-- Testimonials -->
	<section class="testimonials parallax1">

	
				
		</div><!-- end container -->
	</section><!-- end testimonials -->



	<!-- Services Section -->
	<section id="services" class="section">
		<div class="container">
			<h2 class="title">LO QUE ANDARE OFRECE</h2>
			<h4 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, enim.</h4>
			<div class="animated" data-animate="fadeInUp" data-animate-delay="400">
				<img src="images/super_gato.png"  alt="Monitor Image" class="scale-with-grid mockup" title="There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which"  />
			</div>
		</div><!-- end container -->
		
	</section><!-- end services section-->  

{{!-- ///////////////////////////////////////////////////////////// --}}
<script>
   var productos = [];
   var favorito = [];
   var categoria = [];
</script>   

{{#each favorito}}
      
         <script>
           
           favorito[favorito.length] = { id_producto: `{{id_producto}}` };
          
           
         </script>
     
{{/each}}

{{#each categoria}}
      
         <script>
           
           categoria[categoria.length] = { id: `{{id}}`, id_administrador: `{{id_administrador}}`, modelo:`{{modelo}}` };


           
         </script>
     
{{/each}}

{{#each productos}}
      
         <script>
           
           productos[productos.length] = { id: `{{id}}`, nombre: `{{nombre}}`, precio:`{{precio}}`, id_modelo:`{{id_modelo}}`, cantidad: `{{cantidad}}`, imagen:`{{imagen}}`, fecha_hora: `{{timeago fecha_hora}}`};
           

           
         </script>
     
{{/each}}


	<!-- Portfolio Section -->
	<section id="portfolio" class="section">
        
		<div class="container" id="portfolio-title">
			<h2 class="title">NUESTROS PRODUCTOS MAS RECIENTES</h2>
			<h4 class="subtitle">ECHA UN VISTAZO A UNA LISTA DE NUESTROS PRODUCTOS FAVORITOS.</h4>
		</div><!-- end portfolio title container -->

			<!-- Project Expander -->
			<div class="item-expander">
				<div id="item-expander">
					<p class="close-btn"><a class="close"></a></p>
					<div class="expander-container"></div>
				</div>
			</div>
		
		<div class="container" id="portfolio-container">		

			<div class="buscar">
				<div class="row">
					<div class="col-lg-3">
					<h5 class="letra2" style="color:white; top:6px; text-align:right">Buscar:</h5>
					
					</div>

					<div class="col-lg-3">
						<input type="text" id="formulario1" class="form-control ">
					</div>

					<div class="col-lg-6">
						<div class="cart">
							<p><a onclick="carrito()" class="cursor"><img height="30" width="27" src="/img/carrito.png"></a><sup id="cantidad_producto" style="color:white">0</sup>RD&#36;&nbsp;&nbsp;<a onclick="carrito()" id="total" class="total">0.00</a></p>
						</div>
					</div>
				</div>
			</div>
		
			<div id="resultado">
				
			</div>			 
					
		</div><!-- end container -->
	</section><!-- end portfolio section -->

   
	<section class="paginacion">
		 <div id="options1" class="filter-menu">
			<ul class="option-set" >
				<ul id="paginacion" class="pagination pagination-md">
		
				</ul>	
			</ul>
		</div>
		
	</section>


	<section id="footer-top" class="section">
		<div class="container">
			<ul class="social-links">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-vimeo-square"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
				</ul><!-- end social links -->
			800.123.4567 | <a href="#">info@andaredomain.com</a><br />
			123 East Main Austin, Texas 12345
		</div><!-- end container -->
	</section><!-- end footer top section -->

	<section id="footer-bottom" class="section">
		<div class="container">
			<a href="#home" class="scroll button-to-top">
					<i class="fa fa-angle-double-up"></i>
				</a>
			<h2>AA MOTOR</h2>
			<p><span class="color">Hecho en República Dominicana</span><br /> 
				&copy; 2020 Todos los derechos reservados.</p>
		</div><!-- end container -->
	</section><!-- end footer bottom section -->


{{!-- ///////////////////////////////////////////////////////////////////////////////////////// --}}
    <link rel="stylesheet" href="css/tarjeta.css" />
    <script src="https://js.stripe.com/v3/"></script>
  
  
  {{!-- <button onclick="abrir()">Pagar</button> --}}
	<div id="tvesModal3" class="modalContainer">
		<div id="tamaño3" class="modal-content">
			<span class="close" onclick="span3()">×</span>

			<form method="post" id="payment-form">
				<div class="form-row">
					<div align="center">
					   <img height="250" width="330" src="/img/gold.png">
					</div>
					<label for="card-element">
					Tarjeta de Credito o Debito
					</label>
					<div id="card-element">
					<!-- A Stripe Element will be inserted here. -->
					</div>

					<!-- Used to display form errors. -->
					<div id="card-errors" role="alert"></div>
				</div>

				<div class="row" align="center">
					<div class="col-lg-12" align="center">
                        <div id='enviar' align="center">   
                              <button class="btn btn-warning mx-1" align="center">RD$ 0.00 Pagar</button>
						</div>
					</div>
				</div>
			</form>

		</div>
			
	</div>
    <script type="text/javascript" src="js/tarjeta.js"></script>

<div id="tvesModal" class="modalContainer">
	<div id="tamaño" class="modal-content">
		<span class="close1" onclick="span()">×</span>

		<div id="vent">
			
		</div>
	</div>
		
</div>

<div id="tvesModal2" class="modalContainer2">
	<div id="tamaño2" class="modal-content">
		<span class="close2">×</span>

		<div id="vent2">
			
		</div>
	</div>
		
</div>



<script type="text/javascript" src="js/paginacion_cliente.js"></script>
<script type="text/javascript" src="js/cliente.js"></script>
<script type="text/javascript" src="js/ventana_cliente.js"></script>
<script type="text/javascript" src="js/paginacion_cliente2.js"></script>
<script type="text/javascript" src="js/paginacion_cliente3.js"></script>
<script type="text/javascript" src="js/validar_cliente.js"></script>
<script type="text/javascript" src="js/alerta.js"></script>
<script type="text/javascript" src="js/ventana.js"></script>






